$main-color: #da251c;
$main-color-shadow: rgba(203, 0, 0, 0.722);
$white: rgb(255, 255, 255);
$gray: rgb(186, 186, 186);
$light-background: rgb(240, 240, 240);
$section-title-height: 32px;
$black: #212529;
$dltech-color: #007cc2;
$glue-N: #d9dbcc;
$glue-B: #331b14;
$glue-BL: #1f2122;
$glue-W: #dcdedd;